<div class="flex">
    <div class="player-container">
        <img [src]="imageUrl" alt="Album Art" class="album-art">
        <h3 id="track-name">{{ trackName || 'Unknown Track' }}</h3>

        <audio #player [src]="mp3Url"></audio>
        <div>
            <button class="control" (click)="decreaseVolume(player)"><mat-icon>volume_down</mat-icon></button>
            @if(!isPlaying){
            <button class="control" (click)="play(player)"> <mat-icon>play_circle</mat-icon>
            </button>
            }
            @if(isPlaying){

            <button class="control" (click)="pause(player)">
                <mat-icon>pause_circle</mat-icon>
            </button>
            }
            <button class="control" (click)="increaseVolume(player)"><mat-icon>volume_up</mat-icon></button>
        </div>
    </div>

    <div style="width: calc(100% - 540px);" class="card">

        <h3>Previous Links</h3>
        <table>
            <thead>
                <tr>
                    <th>Track Name</th>
                    <th>Image URL</th>
                    <th>MP3 URL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let link of previousLinks">
                    <td>{{ link["trackName"] }}</td>
                    <td>{{ link["imageUrl"] }}</td>
                    <td>{{ link["mp3Url"] }}</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>